.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #028090;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.donut-main {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding-bottom: 6.4rem;
    padding-top: 6.4rem;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.donut-main:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.donut-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donut-center {
    position: absolute;
    width: 50%; /* Adjust as needed */
    height: 50%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Prevent interaction with the map */
}

@media (max-width: 390px) {
    .donut-main {
        padding: 1rem;
    }
}
@media (max-width: 430px) {
    .donut-main {
        width: 100%;
        padding: 1rem;
    }
}