.intra-state-response {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 390px) {
    .intra-state-response {
        width: 100%;
    }
}