.intra-state-response {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intra-state-response thead {
    background-color: #0ff3bd;
}

.intra-state-response th, .intra-state-response td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
}

@media (max-width: 390px) {
    .intra-state-response {
        width: 100%;
    }

    .intra-state-response table {
        width: 100%;
        font-size: 1rem;
    }
}