.response-data {
    background-color: #f8f8f8;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.response-data-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: fadeIn 1s ease-in-out;
}

.response-data-row2 {
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 1rem;
    width: 100%;
}

.response-data-row2:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.response-data-row3{

}

.response-table-container-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.response-table-container-thead {
    background-color: #f2f2f2;
    color: #555555;
}

.response-table-container-thead th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.controls label {
    margin-right: 10px;
}

.controls select {
    margin-right: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #028090;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #05668D;
    color: #f0f3bd;
}