.consumed-main{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #f7fafc;
}
.submit-area-graph{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 390px) {
    .submit-area-graph {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .consumed-main{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}