.purchase-table-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.purchase-table-row1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}


@media (max-width: 390px) {
    .purchase-table-row1 {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}